---
import TopHeader from "../headers/TopHeader.astro";
import SubHeader from "../headers/SubHeader.astro";
import logical from "/LogicalSolutionDiagramDark.drawio.svg";
import physical from "/PhysicalSolutionDiagramDark.drawio.svg";
import erDiagram from "/ERDiagramActive.drawio.svg";
import diagrams from "/diagrams.svg";
import lowLevelWireframe from "/lowLevelWireframe.png";
import highLevelWireframe from "/highLevelWireframe.png";
---

<section id="diagrams">
    <TopHeader icon={diagrams} header="Diagrams" />

    <div class="content-container">
        <SubHeader class="subheader" text="# logical solution diagram" />
        <a
            href="https://github.com/intramu/docs/blob/main/LogicalSolutionDiagram.drawio.png"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={logical} id="logical" alt="Logical Solution Diagram" />
        </a>
    </div>

    <div class="content-container">
        <SubHeader text="# physical solution diagram" />
        <a
            href="https://github.com/intramu/docs/blob/main/PhysicalSolutionDiagram.drawio.png"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={physical} id="physical" alt="Physical Solution Diagram" />
        </a>
    </div>
    <div class="content-container">
        <SubHeader text="# er diagram" />
        <a
            href="https://github.com/intramu/docs/blob/main/ERDiagramActive.drawio.png"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={erDiagram} id="erDiagram" alt="ER Diagram" />
        </a>
    </div>
    <div class="content-container">
        <SubHeader text="# low level wireframe" />
        <a
            href="https://github.com/intramu/docs/blob/main/wireframes/low-level/Dashboard%401x.png"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={lowLevelWireframe} id="lowLevelWireframe" alt="Low Level Wireframe" />
        </a>
    </div>
    <div class="content-container">
        <SubHeader text="# high level wireframe" />
        <a
            href="https://github.com/intramu/docs/blob/main/wireframes/high-level/DASHBOARD.png"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src={highLevelWireframe} id="highLevelWireframe" alt="High Level Wireframe" />
        </a>
    </div>

    <div class="content-container">
        <SubHeader text="# check out more diagrams" />
        <a href="https://github.com/intramu/docs" target="_blank" rel="noopener noreferrer">
            <button>More on GitHub</button>
        </a>
    </div>
</section>

<style>
    #logical {
        height: 500px;
    }
    #physical {
        height: 600px;
    }
    #erDiagram {
        height: 900px;
    }
    #lowLevelWireframe {
        height: 700px;
    }
    #highLevelWireframe {
        height: 700px;
    }
    img {
        margin-bottom: 120px;
    }
    button {
        background-color: inherit;
        font-size: 18px;
        cursor: pointer;
        color: #386cd4;
        border: 2px solid #386cd4;
        border-radius: 3px;
        padding: 20px;
        transition: 200ms;
    }
    button:hover {
        background-color: #386cd440;
    }
</style>
